#customersTableView .table-column {
    -fx-alignment: CENTER;
}

#pricesTableView .table-column {
    -fx-alignment: CENTER;
}

#articlesTableView .table-column {
    -fx-alignment: CENTER;
}

#orderArticlesTableView .table-column {
    -fx-alignment: CENTER;
}

#orderArticlesEditTableView .table-column {
    -fx-alignment: CENTER;
}

#pricesEditTableView .table-column {
    -fx-alignment: CENTER;
}

#ordersTableView .table-column {
    -fx-alignment: CENTER;
}

.article-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.sideButtons:hover {
    -fx-border-color: darkgray;
    -fx-cursor: hand;
}

.button:default{
    -fx-base: #ececec;
}